body {
	background-color: #ecf0f5;
}

.menu-bg {
	background-color: rgb(42,42,42);
}

.small-card-menu {
	margin-top: 15px;
}

a.menu-link {
	color: rgb(240,240,240);
	text-decoration: none;

}

.center {
	text-align: center;
}

.small-icon-product {
	max-height: 50px;
}

.image-product-desc {
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.card > img {
	text-align: center;
}

/* MANAGER SITE */

.admin-content {
	margin-left: 235px;
}

.left-bar {
	width: 235px;
	height: 100%;
	position: fixed;
	background-color: #2a2a2a;
	z-index: 1000;
}

.name-welcome {
	width: 100%;
	text-align: center;
	color: #d6d6d6;
}

.user-image-round {
	width: 100%;
	margin-bottom: 20px;
}

.user-image-round img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.user-info {
	width: 100%;
}

.user-info a {
	text-decoration: none;
}

hr.medium-hr {
	height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.left-menu {
	max-height: 80%;
	width: 100%;
	display: table;
	margin-top: 20px;
}

.left-menu ul, .left-menu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.left-menu a {
	display: table-cell;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	color: #737373;
	font-size: 16px;
	float: left;
	padding-left: 20px;
	line-height: 45px;
	text-decoration: none;
}

.left-menu a:hover {
	background-color: red;
	color: white;
}

.table-th {
	background-color: #2a2a2a;
	color: #fff;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}

.bgbadlog{
	background-color: #f2dede;
}

.bggoodlog{
	background-color: #dff0d8;
}


.select-s {
	width: 100%;
	height: 70px !important;
}

.print-show {
	visibility: hidden !important;
}

@media print {

	.print-show {
		visibility: visible !important;
	}

	.receipt {
		width: 300px;
		height: 100%;
		margin: 0 auto;
	}

	.receipt > * {
		font-family: 'Anonymous Pro';
	}

	.receipt-center {
		text-align: center;
	}

	.receipt-product {
		width: 100%;
		min-height: 100px;
		margin-bottom: 5px;
	}

	.receipt-product-list {
		width: 100%;
		float: left;
	}

	.receipt-product-name {
		margin-left: 10px;
		width: 140px;
		float: left;
	}

	.receipt-product-qty {
		width: 75px;
		float: left;
	}

	.receipt-product-price {
		width: 75px;
		float: left;
	}

	.receipt-summary {
		width: 300px;
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}

	.receipt-sum {
		float: left;
	}

	.totalPrice {
		float: right;
	}

	.receipt-other {
		width: 300px;
		float: left;
	}

	.receipt-other > .left {
		float: left;
	}

	.receipt-other > .right {
		float: right;
	}

	hr.receipt-line {
	    border: 0;
	    border-bottom: 1px dashed #ccc;
	    background: #999;
	}

	.myPrint {
		background-color: white;
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		padding: 20px;
	}

	.totalPrice {
		float: right;
	}


	## PRINT INVOICES ##

	.invoice {
		width: 100%;
		min-height: 100%;
		background-color: white;
	}

	.invoice > * {
		z-index: 10000;
	}

	.invoice-view {
		width: 100%;
		margin: 10px;
	}

	.invoice-data {
		width: 100%;
		text-align: right;
	}

	.invoice-center {
		text-align: center;
	}

	.invoice-date {
		margin-top: 100px;
		width: 100%;
		height: 300px;
	}

	.invoice-date > .invoice-left-bar {
		width: 45%;
		float: left;
		background-color: white !important;
	}

	.invoice-date > .invoice-right-bar {
		width: 45%;
		float: right;
		text-align: right;
	}

	.invoice-product-list {
		width: 100%;
		float: left;
	}

	.td-right {
		text-align: right;
		border-top: none !important;
	}

	.signature > .invoice-left-bar, .signature > .invoice-right-bar {
		margin-top: 100px;
	}

}

.validate > ul{
	margin-left: auto;
	margin-right: auto; 
	background-color: #f2dede;
	list-style-type: none;
	width: auto;
	text-align: center;
	font-weight: bold;
}


select {
	font-family: 'FontAwesome', Verdana !important;
}